
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= image_path 'tente_banner.jpg' %>');">
  <div class="banner-content">
    <h1>BE READY !</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= select_tag "timezone", options_from_collection_for_select(
      ActiveSupport::TimeZone.all.
        map { |tz| tz.tzinfo }.
        sort_by { |tzinfo| tzinfo.name },
      :name, :name),
      class: 'select2' %>
    <%= link_to "Find yours products", products_path, class: "btn btn-success btn-lg" %>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>







