.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.ctn-map {
  padding-top: 20px;
  border-radius: 5px;

}

#map {
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
}
