.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  transition: all 0.3s ease;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.navbar-logo {
  justify-content: space-between;
}

.pictos {
  margin-right: 9px;
  color: #49C607;
}

.text-picto {
  font-size: 15px;
}

.text-picto:hover {
  color: black;
}

.text-pages {
  font-size: 15px;
}

.text-pages:hover {
  color: black;
}

.logo {
color: #49C607;
font: small-caps bold 24px/1 sans-serif;
}

.logo:hover {
  color: #58ef07;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  border-radius: 5%;
}

