.img-show {
  width: 100%;

}

.card-note-show{
  padding-top: 10px;

}

.card-resa{
  height: 300px;
  padding-top: 50px;
}

.card-description-show{
  height: 300px;

}
.product-name-show{
  padding-top: 20px;
  font-weight: bold;
}
.name-category{
  font-weight: bold;
  color: black;
}
