<img src="" alt="">

<h1><%= @product.name %></h1>
<p><%= @product.description %></p>

<h5> Réserver ce produit! </h5>

<form action="">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Du:</span>
    <input type="text" class="form-control" placeholder="28/05/2020" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mt-2">
    <span class="input-group-addon" id="basic-addon1">Au:</span>
    <input type="text" class="form-control" placeholder="30/05/2020" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
</form>

<h3> Details </h3>
<span><p>Etat</p><%= @product.state %></span>
<span><p>Categorie</p><%= @product.category %></span>
